# macOS
.DS_Store

# Python bytecode/cache
__pycache__/
*.py[cod]
*.pyo

# Packaging/build artifacts
build/
dist/
*.egg-info/
.eggs/

# Virtual/env files
.venv/
venv/
env/
.python-version

# Test/cache/tool outputs
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Notebook/checkpoint noise
.ipynb_checkpoints/

# IDE/editor
.vscode/settings.json

# Local logs/temp
*.log
*.tmp

# Do not commit original source snapshot
orig/

# SO object
ppfive/_wgdos.cpython-314-x86_64-linux-gnu.so
ppfive/_wgdos.cpython-312-darwin.so
ppfive/_wgdos.cpython*

# Local large test data (do not commit)
tests/data/dk922*
.aider*
